In [6]:
import pandas as pd
# Import dữ liệu vào DF
link_1 = "https://raw.githubusercontent.com/moeraza/pandas_data_wrangling/master/data/breast_cancer_data.csv"
df = pd.read_csv(link_1)

In [7]:
df.head(10)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,Dr. Smith
6,1018099,1.0,NaN,1,1,2,10,3.0,1.0,1,benign,Dr. Doe
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,benign,Dr. Smith
8,1033078,2.0,1.0,1,1,2,1,1.0,1.0,5,benign,Dr. Smith
9,1033078,4.0,2.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe

In [9]:
df.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

In [21]:
df.iloc[:,:1].describe()

         patient_id
count  6.990000e+02
mean   1.071704e+06
std    6.170957e+05
min    6.163400e+04
25%    8.706885e+05
50%    1.171710e+06
75%    1.238298e+06
max    1.345435e+07

In [28]:
df.groupby(by = ['class', 'doctor_name']).size()

class      doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Smith      102
           Dr. Wong       108
malignant  Dr. Doe         58
           Dr. Lee         60
           Dr. Smith       74
           Dr. Wong        49
dtype: int64

In [31]:
df.isna().sum()

patient_id               0
clump_thickness          1
cell_size_uniformity     1
cell_shape_uniformity    0
marginal_adhesion        0
single_ep_cell_size      0
bare_nuclei              2
bland_chromatin          4
normal_nucleoli          1
mitoses                  0
class                    0
doctor_name              0
dtype: int64

In [37]:
df.shape

(699, 12)

In [44]:
df1 = df.dropna(axis = 0, how = 'any')
df1.shape

(690, 12)

In [45]:
df.nunique()

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               11
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [70]:
df[df.duplicated(subset = 'patient_id', keep = False)].sort_values('patient_id')

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
267,320675,3.0,3.0,5,2,3,10,7.0,1.0,1,malignant,Dr. Wong
272,320675,3.0,3.0,5,2,3,10,7.0,1.0,1,malignant,Dr. Smith
575,385103,5.0,1.0,2,1,2,1,3.0,1.0,1,benign,Dr. Smith
269,385103,1.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
271,411453,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
561,1321942,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
660,1339781,1.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Lee
661,1339781,4.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Smith
672,1354840,2.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Wong
673,1354840,5.0,3.0,2,1,3,1,1.0,1.0,1,benign,Dr. Lee

In [88]:
repeat_patients = df.groupby(by = ['patient_id']).size().sort_values(ascending=False)
repeat_patients[repeat_patients >= 2].to_frame().reset_index()

    patient_id  0
0      1182404  6
1      1276091  5
2      1198641  3
3      1238777  2
4       385103  2
5       734111  2
6       411453  2
7      1143978  2
8      1218860  2
9       822829  2
10     1240603  2
11     1070935  2
12      466906  2
13     1299596  2
14     1105524  2
15     1299924  2
16     1321942  2
17     1114570  2
18      798429  2
19      493452  2
20     1115293  2
21     1320077  2
22     1116116  2
23      560680  2
24     1061990  2
25     1212422  2
26     1116192  2
27      733639  2
28      769612  2
29     1173347  2
30      695091  2
31      704097  2
32     1158247  2
33     1171710  2
34     1017023  2
35      654546  2
36     1100524  2
37     1354840  2
38     1174057  2
39      897471  2
40      320675  2
41     1168736  2
42     1033078  2
43     1277792  2
44     1339781  2
45     1293439  2

In [109]:
filtered_patients = repeat_patients[repeat_patients >=2] 
filtered_patients.to_frame().reset_index()

filtered_df = df[~df.patient_id.isin(filtered_patients.index)]
filtered_df

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,Dr. Smith
...,...,...,...,...,...,...,...,...,...,...,...,...
692,714039,3.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong
693,763235,3.0,1.0,1,1,2,1,2.0,1.0,2,benign,Dr. Lee
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee

In [115]:
df[['patient_id','cell_size_uniformity','cell_shape_uniformity']]

     patient_id  cell_size_uniformity  cell_shape_uniformity
0       1000025                   1.0                      1
1       1002945                   4.0                      4
2       1015425                   1.0                      1
3       1016277                   8.0                      8
4       1017023                   1.0                      1
..          ...                   ...                    ...
694      776715                   1.0                      1
695      841769                   1.0                      1
696      888820                  10.0                     10
697      897471                   8.0                      6
698      897471                   8.0                      8

[699 rows x 3 columns]

In [117]:
def KQ(x):
    if ((x['cell_size_uniformity'] > 5) &
        x['cell_shape_uniformity'] > 5):
        return ('normal')
    else:
        return ('abnormal')

In [122]:
df['KQ'] = df.apply(lambda x: KQ(x), axis = 1)
df[['patient_id', 'doctor_name', 'KQ']]

     patient_id doctor_name        KQ
0       1000025     Dr. Doe  abnormal
1       1002945   Dr. Smith  abnormal
2       1015425     Dr. Lee  abnormal
3       1016277   Dr. Smith  abnormal
4       1017023    Dr. Wong  abnormal
..          ...         ...       ...
694      776715     Dr. Lee  abnormal
695      841769   Dr. Smith  abnormal
696      888820     Dr. Lee  abnormal
697      897471     Dr. Lee  abnormal
698      897471    Dr. Wong  abnormal

[699 rows x 3 columns]